body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-image: radial-gradient( circle 489px at 49.3% 46.6%,  rgba(255,214,126,1) 0%, rgba(253,200,0,1) 100.2% );
	font-family: 'Roboto Mono', monospace;
	overflow-x: hidden;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80vw;
	min-height: 100vh;
}

.transparent_box {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	background-image: radial-gradient( circle 489px at 49.3% 46.6%,  rgba(255,214,126,1) 0%, rgba(253,200,0,1) 100.2% );
	z-index: 500;
}

#start_box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding-left: 4rem;
	padding-right: 4rem;
	padding-bottom: 2rem;
	position: absolute;
	min-height: 250px;
	width: 250px;
	border: solid 2px #000;
	z-index: 999;
	color: #000;
	border-radius: 10px;
	-webkit-box-shadow: 0px 5px 19px 4px #4F4F4F; 
	box-shadow: 0px 5px 19px 4px #4F4F4F;
}

.start_box__paragraph {
	font-size: 1.2rem;
}

.popover {
	font-size: 1rem;
	position: absolute;
	background: rgba(255, 255, 255, 0.9);
	width: 80%;
	border-radius: 10px;
	color: #000;
	border: solid 2px #000;
	bottom: 90px;
}

.inputs {
	display: flex;
	align-items: center;
	justify-content: center;
}

.input,
.button {
	font-size: 1rem;
	font-family: 'Roboto Mono', monospace;
	padding: 0.5rem 0.5rem;
	border-radius: 5px;
	border: 2px solid #000;
}

.button {
	margin-left: 1rem;
	cursor: pointer;
	color: #000;
	background-color: #ebeced;
}

.button:hover {
	background-color: #dadbdc;
}

#answer_box {
	margin-bottom: 2rem;
	font-size: 2.5rem;
	letter-spacing: 0.5rem;
	z-index: 10;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col {
	flex: 50%;
}

#letters_box {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	width: 50vw;
}

.gallows {
	position: relative;
	margin-bottom: 1rem;
	display: flex;
	justify-content: center;
}

.paper {
	position: absolute;
	bottom: -100px;
	width: 100%;
	z-index: -1;
}

.letter {
	padding: 0.5rem;
	margin: 2px;
	border: 3px solid #000;
	cursor: pointer;
	border-radius: 50%;
}

.hover:hover {
	border-color: #ebeced;
}

.green {
	background-color: #018100;
	cursor: default;
}

.red {
	background-color: #ff0200;
	cursor: default;
}

.face {
	display: none;
}

.reset {
	cursor: pointer;
	font-size: 1.5rem;
	background-color: #fff;
	padding: 0.5rem 1rem;
	border: 2px solid #000;
}

.reset:hover {
	background-color: #ebeced;
}

.display {
	display: none;
}