body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: #fff;
	font-family: 'Roboto Mono', monospace;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80vw;
	min-height: 100vh;
}

.blur {
	filter: blur(8px);
  	-webkit-filter: blur(8px);
}

.transparent_box {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0.5);
	z-index: 500;
}

#start_box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding-left: 4rem;
	padding-right: 4rem;
	padding-bottom: 2rem;
	background-color: lightseagreen;
	position: absolute;
	min-height: 250px;
	width: 250px;
	border: solid 3px #000;
	z-index: 999;
	color: whitesmoke;
	border-radius: 10px;
}

#start_box p {
	font-size: 1.2rem;
}

.inputs {
	display: flex;
	align-items: center;
	justify-content: center;
}

.input,
.button {
	font-size: 1rem;
	font-family: 'Roboto Mono', monospace;
	padding: 0.5rem 0.5rem;
	border-radius: 5px;
	border: 2px solid #000;
}

.input {
	
}

.button {
	margin-left: 1rem;
	cursor: pointer;
	color: #000;
}

#answer_box {
	margin-bottom: 2rem;
	font-size: 2.5rem;
	height: 2rem;
	letter-spacing: 0.5rem;
}

#letter_box {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	width: 50vw;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col {
	flex: 50%;
}

.gallows {
	margin-bottom: 1rem;
	display: flex;
	justify-content: center;
}

.display {
	display: none;
}

.letter {
	width: 1rem;
	height: 1rem;
	text-align: center;
	padding: 0.5rem;
	margin: 2px;
	border: 3px solid #000;
	cursor: pointer;
	border-radius: 25px;
}

.letter:hover {
	color: lightgrey;
	border-color: lightgrey;
}

.green {
	background-color: green;
	cursor: default;
}

.red {
	background-color: red;
	cursor: default;
}

.face {
	display: none;
}

.win {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: lightsteelblue;
}

